<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sarak.mapper.AuthorMapper">

	<!-- 1. 작가 목록 (with 페이징) -->
	<select id="authorGetList" resultType="org.sarak.domain.AuthorVO">
	    <![CDATA[
	        select authorid, authorname
	        from (
	            select 
	                rownum rn, authorid, authorname
	            from (
	                select 
	                    /*+INDEX_DESC(tbl_author pk_authorid)*/
	                    authorid, authorname
	                from 
	                    tbl_author
	                order by authorid desc
	            )
	            where rownum <= #{pageNum} * #{amount}
	        )
	        where rn > (#{pageNum} - 1) * #{amount}
	    ]]>
	</select>
	
	<!-- 2. 작가 총 수 -->
	<select id="authorGetTotal" resultType="int">
		select count(*) from tbl_author
	</select>
	
	<!-- 3. 작가 상세 -->
	<select id="authorGetDetail" resultType="org.sarak.domain.AuthorVO">
		select * from tbl_author where authorid = #{authorid}
	</select>

	<!-- 4. 작가 등록 -->
	<insert id="authorInsert">
		insert into tbl_author (authorid, authorname, authordesc) values (seq_author.nextval, #{authorname}, #{authordesc})
	</insert>
	
	<!-- 5. 작가 정보 수정 -->
	<update id="authorModify">
		update tbl_author set authorname = #{authorname}, authordesc = #{authordesc} where authorid = #{authorid}
	</update>
	
	<!-- 6. 작가 삭제 -->
	<delete id="authorDelete">
		delete from tbl_author where authorid = #{authorid}
	</delete>

</mapper>